<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Register</title>

    <link rel="stylesheet" th:href="@{/css/auth.css}">
</head>

<body>

<div class="auth-container">

    <form class="auth-form" method="post" th:action="@{/register}">

        <img th:src="@{/images/logo.png}" class="logo">

        <h1>Create Account</h1>

        <input type="text" name="username" placeholder="Email">
        <input type="password" name="password" placeholder="Password">
        <input type="password" name="confirmPassword" placeholder="Confirm Password">

        <button type="submit">Register</button>

        <p>
            Already have an account?
            <a th:href="@{/login}">Sign in</a>
        </p>

    </form>

</div>

</body>
</html>